## Q1. What is data encoding? How is it useful in data science?

### Models only work with numerical values. For this reason, it is necessary to convert the categorical values of the features into numerical ones, So the machine can learn from those data and gives the right model. This process of converting categorical data into numerical data is called Encoding.

## Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

### When we have a feature where variables are just names and there is no order or rank to this variable's feature.
### For example: City of person lives in, Gender of person, Marital Status, etc…

## Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

### One hot encoding is a technique that we use to represent categorical variables as numerical values in a machine learning model.

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns

In [4]:
df1=sns.load_dataset('tips')

In [5]:
encode=OneHotEncoder()

In [6]:
encode.fit_transform(df1[['sex']])

<244x2 sparse matrix of type '<class 'numpy.float64'>'
	with 244 stored elements in Compressed Sparse Row format>

In [7]:
encoded=encode.fit_transform(df1[['sex']]).toarray()

In [9]:
encoded_df1=pd.DataFrame(encoded,columns=encode.get_feature_names_out())

In [10]:
encoded_df1

     sex_Female  sex_Male
0           1.0       0.0
1           0.0       1.0
2           0.0       1.0
3           0.0       1.0
4           1.0       0.0
..          ...       ...
239         0.0       1.0
240         1.0       0.0
241         0.0       1.0
242         0.0       1.0
243         1.0       0.0

[244 rows x 2 columns]

## Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

### I will use One Hot Encoding technique to transform the data.
### I choose OHE because the number of categories is not much large.

## Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

### Assume in two categorical data coluumns there are X and Y categories respectively.
### Then number of new categories wpuld be X+Y

## Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

### I will use OHE technique because the data is nominal

## Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

### I would use OHE technique to transform  the data.
### I'll use "sklearn.preprocessing" library to transform the data into categorical form. And then cocat the data in the table, column wise.